.tableWrapper {
    width: 100%;
    overflow-x: scroll;
}
.col {
    min-width: 10em;
}
.col:first-child {
    position: sticky;
    left: 0;
    font-weight: bold;
}
tr:first-child .col {
    font-weight: bold;
}
.col:not(:first-child) {
    text-align: center;
}